::ng-deep {
  .navbar {
    box-shadow: none;
  }

  .navbar.bg-off {
    background: transparent !important;
  }

  .navbar.bg-on {
    background: #FFF0E0;
  }

  .navbar-toggler {
    color: white !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(218, 191, 167, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-size: 40px 40px;
  }

  .nav-link{
    color: #C3A174 !important;
  }
}

.logo {
  width: 30px;
}
