.banner-promo {
  width: 100vw; /* Full viewport width */
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
  background-color: #61513f;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-small {
  height: 200px;
}

.banner-large {
  height: 200px;
}
